header {
  background-color: white;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

header li {
  list-style-type: none;
  margin: 0 10px;
}

header a {
  text-decoration: none;
  color: black;
}
