.button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

/* Basic link styling */
.link {
  display: block; /* Make each link take its own line */
  font-size: 18px; /* Increase font size */
  color: var(--text-color); /* Set a primary color */
  padding: 10px 0; /* Add vertical padding */
  text-decoration: none; /* Remove underline */
  text-align: left; /* Center align text */
  margin: 5px 0; /* Add some margin for spacing */
  padding-top: 5px;
  padding-left: 10px;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect */
.link:hover {
  color: #0056b3; /* Darken color on hover */
  text-decoration: none; /* Ensure underline doesn't reappear on hover */
}

/* Optional: Add a subtle background color on hover */
.link:hover {
  background-color: #f8f9fa;
}